[submodule "EthaneEngine/vendor/spdlog"]
	path = EthaneEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "EthaneEngine/vendor/GLFW"]
	path = EthaneEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "EthaneEngine/vendor/glm"]
	path = EthaneEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "EthaneEngine/vendor/yaml-cpp"]
	path = EthaneEngine/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "EthaneEngine/vendor/imgui"]
	path = EthaneEngine/vendor/imgui
	url = https://github.com/Ethan-Chiu/imgui_forked.git
